<h1><%= @menu.name %></h1>

<p>
  <strong>Ingredients:</strong> <%= @menu.ingredients %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu), class: 'btn btn-secondary' %>
<%= link_to 'Back to Menus', menus_path, class: 'btn btn-primary' %>
